<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
      <a class="navbar-brand">Welcome User</a>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link" href="user_loan_apply">Apply for loan</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="user_loan_application_status">Loan Application status</a>
          </li>
        </ul>
      </div>
      <button type="button" (click)="logout()" class="btn btn-dark">Logout</button>
    </div>
  </nav>
